{% extends 'base.html.twig' %}

{% block bigtitre %}
      <h1 class="header center  orange-text text-darken-3">Votre voiture n° {{car.id}}</h1>
{% endblock %}

 {% block livres %}

    <h3>Marque : {{ car.model }}</h3>
    <h3>Couleur : {{ car.color }}</h3>
    <h3>Carburant : {{ car.carburant }}</h3>
    <h3>Prix : {{ car.price }} euros</h3>

    
    {% if car.image.name is defined %}   
    <img src="{{ asset('images/') ~ car.image.name }}" alt="">
    {% else %}
    <p>Pas d'image</p>
    {% endif %}

   
      {% for keyword in car.keywords %}
         <p>{{ keyword.name }} {% if not loop.last %},{% else %}. {% endif %}</p>
      {% endfor %}

          {# pour que ca fonctionne avec une relation ManyToMany #}
          {# {% if car.cities is defined%}  #}
      {% if car.cities | length > 0 %}
         <p>
           Voiture disponible à
          {% for city in car.cities %}
           <a class="btn waves-effect waves-light">{{ city.name }}</a>
          {% endfor %}
         </p> 
      {% endif %}
      
 {% endblock %}

 {% block button %}
   <a href="{{ path('home') }}" class="btn-large waves-effect waves-light orange darken-3">RETOUR</a>
{% endblock %}